<%= render 'layouts/navigationSignedIn' %>
<p id="notice"><%= notice %></p>

<div id="weeksNav">
  <p>
    Weeks: 
    <a>1</a>|
    <a>2</a>|
    <a>3</a>|
    <a>4</a>|
    <a>5</a>|
    <a>6</a>|
    <a>7</a>|
    <a>8</a>|
    <a>9</a>|
    <a>10</a>|
    <a>11</a>|
    <a>12</a>|
    <a>13</a>|
    <a>14</a>|
    <a>15</a>|
    <a>16</a>|
    <a>17</a>
  </p>
</div>

<div id="margin">
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">Team1</th>
      <th scope="col">Team2</th>
      <th scope="col">GameDateTime</th>
      <th scope="col">Week</th>
      <th scope="col">Pickedteam</th>
      <th scope="col">Spread</th>
<!--       <th scope="col" colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @game_infos.each do |game_info| %>
      <% game_info["schedule"]["pickedTeam"] = "" %>
      <% game_info["schedule"]["spread"] = 0 %>
      <tr>
        <td><%= game_info["schedule"]["homeTeam"]["abbreviation"] %></td>
        <td><%= game_info["schedule"]["awayTeam"]["abbreviation"] %></td>
        <td><%= game_info["schedule"]["startTime"] %></td>
        <td><%= game_info["schedule"]["week"] %></td>
        <td><%= form_with do |form| %><%= form.select game_info["schedule"]["pickedTeam"], options_for_select([game_info["schedule"]["homeTeam"]["abbreviation"], game_info["schedule"]["awayTeam"]["abbreviation"]], selected: game_info["schedule"]["pickedTeam"]), {}, {class: "form-control"} %><% end %></td>
        <td><%= form_with do |form| %><%= form.number_field game_info["schedule"]["spread"], value: game_info["schedule"]["spread"], :class => 'form-control' %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Game Pick', new_game_pick_path %>
