<%= render 'layouts/navigationSignedIn' %>
<p id="notice"><%= notice %></p>

<div id="weeksNav">
  <p>
    Weeks: 
    <%= link_to "1", {:controller => "game_picks", :method => "index", :week => "1" }%>|
    <%= link_to "2", {:controller => "game_picks", :method => "index", :week => "2" }%>|
    <%= link_to "3", {:controller => "game_picks", :method => "index", :week => "3" }%>|
    <%= link_to "4", {:controller => "game_picks", :method => "index", :week => "4" }%>|
    <%= link_to "5", {:controller => "game_picks", :method => "index", :week => "5" }%>|
    <%= link_to "6", {:controller => "game_picks", :method => "index", :week => "6" }%>|
    <%= link_to "7", {:controller => "game_picks", :method => "index", :week => "7" }%>|
    <%= link_to "8", {:controller => "game_picks", :method => "index", :week => "8" }%>|
    <%= link_to "9", {:controller => "game_picks", :method => "index", :week => "9" }%>|
    <%= link_to "10", {:controller => "game_picks", :method => "index", :week => "10" }%>|
    <%= link_to "11", {:controller => "game_picks", :method => "index", :week => "11" }%>|
    <%= link_to "12", {:controller => "game_picks", :method => "index", :week => "12" }%>|
    <%= link_to "13", {:controller => "game_picks", :method => "index", :week => "13" }%>|
    <%= link_to "14", {:controller => "game_picks", :method => "index", :week => "14" }%>|
    <%= link_to "15", {:controller => "game_picks", :method => "index", :week => "15" }%>|
    <%= link_to "16", {:controller => "game_picks", :method => "index", :week => "16" }%>|
    <%= link_to "17", {:controller => "game_picks", :method => "index", :week => "17" }%>
  </p>
</div>

<div id="margin">
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">Team1</th>
      <th scope="col">Team2</th>
      <th scope="col">GameDateTime</th>
      <th scope="col">Week</th>
      <th scope="col">Pickedteam</th>
      <th scope="col">Spread</th>
<!--       <th scope="col" colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @game_infos.each do |game_info| %>
      <% game_info["schedule"]["pickedTeam"] = "" %>
      <% game_info["schedule"]["spread"] = 0 %>
      <tr>
        <td><%= game_info["schedule"]["homeTeam"]["abbreviation"] %></td>
        <td><%= game_info["schedule"]["awayTeam"]["abbreviation"] %></td>
        <td><%= DateTime.parse(game_info["schedule"]["startTime"]).new_offset("-04:00").strftime("%m/%d/%y %l:%M %p") %></td>
        <td><%= game_info["schedule"]["week"] %></td>
        <td><%= form_with do |form| %><%= form.select game_info["schedule"]["pickedTeam"], options_for_select([game_info["schedule"]["homeTeam"]["abbreviation"], game_info["schedule"]["awayTeam"]["abbreviation"]], selected: game_info["schedule"]["pickedTeam"]), {}, {class: "form-control pick"} %><% end %></td>
        <td><%= form_with do |form| %><%= form.number_field game_info["schedule"]["spread"], value: game_info["schedule"]["spread"], :class => 'form-control spread' %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<button type="button" class="btn btn-lg btn-primary" id="saveButton">Save</button>